@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-fadein {
    animation: fadeIn .5s forwards;
}

.disabled {
    opacity: .3;
    pointer-events: none;
}

.gif {
    transition: opacity .2s ease;
}
.gif-container:hover > .gif:not(:hover) {
    opacity: 0.3;
}


@keyframes fadeIn {
    0% {
        transform: scale(.90);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}